# build output
app/dist/

# generated types
app/.astro/

# dependencies
app/node_modules/

# logs
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*

# environment variables
app/.env
app/.env.production

# macOS-specific files
app/.DS_Store

# sftp
.vscode/