---
import LayoutLogin from "@layouts/LayoutLogin.astro";

---

<LayoutLogin title="auth" path = "../">
  <div class="container">
    <button id="addbtn">Add Strage2</button>
    <button id="clearbtn">Clear Strage2</button>
  </div>
  <astro-heart>
    <button aria-label="Heart">💜</button> × <span>0</span>
  </astro-heart>
</LayoutLogin>



<script>

</script>

<script is:inline lang="ts">

//
  console.log(sessionStorage)
  let tmp = sessionStorage.getItem("AuthData");
  const authdata = JSON.parse(tmp)
  console.log("authdata",authdata)
  console.log("name",authdata.name)

  const addbtn = document.querySelector('#addbtn');
  const clearbtn = document.querySelector('#clearbtn');
  
  addbtn.addEventListener('click', () => {
    sessionSet('name', '田中')
    console.log(sessionStorage)
  });

  clearbtn.addEventListener('click', () => {
    sessionClear()
  });

  function sessionSet( key , value ) {
    console.log(value)
    jsonobj = JSON.parse(value)
    sessionStorage.setItem( key , value )
    return sessionStorage;
  }

  function sessionRemove( key ) {
    sessionStorage.removeItem( key);
    console.log(key)
    return sessionStorage;
  }

  function sessionClear( key , value ) {
  
    sessionStorage.clear();
    console.log(key,value)
    return sessionStorage;
  }

function CallFileMaker(str){
  console.log("CallFileMaker:"+str)
  
}

</script>